html {
    font-family: Helvetica;
    background-color: #ddd;
}

.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
    color: rgb(87, 15, 134);
}

.header {
    text-align: center;
}

.main-title {
    font-size: 70px;
    color: rgb(87, 15, 134);
}

.main-paragraph {
    font-style: italic;
    font-size: 20px;
}

.featured-image {
    text-align: center;
    margin-top: 30px;
      font-style: italic;
}

.featured-image img {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px 0;

}

.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.quotes-container {
    background-color: #ddd;
    padding: 30px;
    margin: 25px 0;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
    color: rgb(87, 15, 134);
}

.quotes-container p {
    font-style: italic;
    margin-left: 40px;
    color: rgb(87, 15, 134);
}

.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
.curiosities-container li {
    height: 30px;
}

.img-bold {
    text-align: center;
    font-style: italic;
    padding: 20px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.img-bold img {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px 0;
}